<!-- Included to be compliance with tsuru website -->
<header id="header" class="section">
    <div class="container">
        <h1 class="brand">
            <a href="http://tsuru.io"><img class="brand-image" src="http://docs.tsuru.io/en/stable/_static/resources/images/brand.svg" alt="Tsuru"></a>
        </h1>
        <nav class="navigation">
        <div id="navbar" class="navbar">
            <nav id="site-navigation" class="navigation main-navigation" role="navigation">
                <h3 class="menu-toggle">Menu</h3>
                <a class="screen-reader-text skip-link" href="#content" title="Skip to content">Skip to content</a>
                <div class="menu-menu-1-container">
                    <ul id="menu-menu-1" class="nav-menu">
                    <li id="menu-item-10" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-10">
                    <a href="http://tsuru.io/#features" >Features</a></li>
                    <li id="menu-item-11" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-11">
                    <a href="http://tsuru.io#community" onclick="javascript:_gaq.push(['_trackEvent','outbound-menu','http://tsuru.io#community']);">Community</a></li>
                    <li id="menu-item-12" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-12">
                    <a href="http://docs.tsuru.io/en/stable/" >Documentation</a></li>
                    <li id="menu-item-8" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-8">
                    <a href="http://blog.tsuru.io/" >Blog</a></li>
                    </ul>
                </div>                 <!-- ?php get_search_form(); ? -->
            </nav><!-- #site-navigation -->
        </div><!-- #navbar -->
        </nav>
    </div>
</header>
